.modal-s{
    height:100vh;
    width:100vw;
    /*background-color: rgba(0,0,0, 0.4);*/
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items: start;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal-s.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content-s {
    padding: 17px;
    border-radius: 15px;
    background-color: white;
    height: 60px;
    width: 35vw;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content-s.active{
    transform: scale(1);
    background-color: #42AEEC;
}
