@media (min-width: 3800px) {
    .footer-fixed-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

/* extra large screens */

.col-xxl, .col-xxl-auto, .col-xxl-12, .col-xxl-11, .col-xxl-10, .col-xxl-9, .col-xxl-8, .col-xxl-7, .col-xxl-6, .col-xxl-5,
.col-xxl-4, .col-xxl-3, .col-xxl-2, .col-xxl-1{
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
@media (min-width: 1500px) {
    .container {
        max-width: 1460px;
    }

    .col-xxl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xxl-1 {
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .col-xxl-2 {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-xxl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xxl-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-xxl-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xxl-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-xxl-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-xxl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xxl-10 {
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-xxl-11 {
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-xxl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-xxl-first {
        order: -1;
    }

    .order-xxl-last {
        order: 13;
    }

    .order-xxl-0 {
        order: 0;
    }

    .order-xxl-1 {
        order: 1;
    }

    .order-xxl-2 {
        order: 2;
    }

    .order-xxl-3 {
        order: 3;
    }

    .order-xxl-4 {
        order: 4;
    }

    .order-xxl-5 {
        order: 5;
    }

    .order-xxl-6 {
        order: 6;
    }

    .order-xxl-7 {
        order: 7;
    }

    .order-xxl-8 {
        order: 8;
    }

    .order-xxl-9 {
        order: 9;
    }

    .order-xxl-10 {
        order: 10;
    }

    .order-xxl-11 {
        order: 11;
    }

    .order-xxl-12 {
        order: 12;
    }

    .offset-xxl-0 {
        margin-left: 0;
    }

    .offset-xxl-1 {
        margin-left: 8.3333333333%;
    }

    .offset-xxl-2 {
        margin-left: 16.6666666667%;
    }

    .offset-xxl-3 {
        margin-left: 25%;
    }

    .offset-xxl-4 {
        margin-left: 33.3333333333%;
    }

    .offset-xxl-5 {
        margin-left: 41.6666666667%;
    }

    .offset-xxl-6 {
        margin-left: 50%;
    }

    .offset-xxl-7 {
        margin-left: 58.3333333333%;
    }

    .offset-xxl-8 {
        margin-left: 66.6666666667%;
    }

    .offset-xxl-9 {
        margin-left: 75%;
    }

    .offset-xxl-10 {
        margin-left: 83.3333333333%;
    }

    .offset-xxl-11 {
        margin-left: 91.6666666667%;
    }
}

/* ipads, mobiles */

.mobile-block {
    display: none;
}

@media (max-width: 992px) {
    /* small tablet devices */
    .slider-main .item-slide {
        height: auto;
    }

    .table-shopping-cart tr td:first-child {
        width: 250px;
    }

    .table-shopping-cart .itemside .info {
        padding: 0;
    }

    .table-shopping-cart .itemside .aside {
        display: none;
    }

    .mobile-hide {
        display: none;
    }

    .tablet-block {
        display: block;
    }

    .section-header .logo {
        max-height: 40px;
        width: auto;
    }

    .section-header .header-main .brand-wrap {
        margin-bottom: 1rem;
        display: inline-block;
    }

    .section-header .header-main .search {
        margin-bottom: 1rem;
    }
}

@media all and (max-width: 768px) {
    /* mobile devices */
    .mobile-block {
        display: block;
    }

    .mobile-hide {
        display: none;
    }

    .section-header .logo {
        max-height: 40px;
        width: auto;
    }

    .section-header .header-main .brand-wrap {
        margin-bottom: 1rem;
        display: inline-block;
    }

    .section-header .header-main .search {
        margin-bottom: 1rem;
    }

    .item-feature {
        margin-bottom: 20px;
    }

    .mobile-order-first {
        order: -1;
    }

    .mobile-order-1 {
        order: 1;
    }

    .mobile-order-2 {
        order: 2;
    }

    .mobile-order-3 {
        order: 3;
    }

    .mobile-py {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mobile-pb {
        padding-bottom: 20px;
    }

    .mobile-pt {
        padding-top: 20px;
    }

    .navbar-expand .navbar-collapse {
        flex-direction: column;
    }

    #title_message {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}
/*# sourceMappingURL=responsive.css.map */
