.nks-bg-color,
.section-footer {
    /*background-color: #A6B1DB;*/
    background-color: #96adfc;
    box-shadow: 4px 5px 4px rgba(133, 156, 237, 0.46);
}
.header-height{
    max-height: 110px;
}

.logo_company_footer{
    margin-right: 10px;
    position: relative;
    margin-top: 4%;
}
.header-text {
    font-weight: 600;
    color: #f0f3fb;
    /*font-size: 16px;*/
}
.priceprod{
    font-weight: bold;
    font-size: 24px;
}
.features-text {
    font-family: "Century Gothic", sans-serif;
    font-size:16px;
}
.description-text {
    font-family: "Century Gothic", sans-serif;
    font-size:17px;
}

.map iframe {
    border-radius: 15px;
    overflow: hidden;
}

.empty-page{
    height: 500px;
}


/* button */
.filters-btn{
    background-color: #5d81ff;
}
.filters-btn:hover{
    background-color: #3950c4;
}

.nks-btn {
    color: #fff;
    background-color: #25509d;
    border-color: #06132e;
}
.nks-btn:hover {
    color: #fff;
    background-color: #25509d;
    border-color: #154cd4;
}
.nks-btn:focus, .nks-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(80, 126, 238, 0.5);
}
.nks-btn.disabled, .nks-btn:disabled {
    color: #fff;
    background-color: #3167eb;
    border-color: #3167eb;
}
.nks-btn:not(:disabled):not(.disabled):active, .nks-btn:not(:disabled):not(.disabled).active, .show > .nks-btn.dropdown-toggle {
    color: #fff;
    background-color: #154cd4;
    border-color: #1348c9;
}
.nks-btn:not(:disabled):not(.disabled):active:focus, .nks-btn:not(:disabled):not(.disabled).active:focus, .show > .nks-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(80, 126, 238, 0.5);
}


/*card element*/
.card-props {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-props-column {
    align-items: center;
    /*max-height: 40px;*/
    width: auto;
}
.product-card{
    border-radius: 12px;
    box-shadow: 2px 1px 2px rgba(35, 71, 206, 0.07);
}

.maps-element {
    border-radius: 50px !important;
    overflow: hidden !important;
}

.bg-pics{
    opacity: 0.25;
}
.img-wrap {
    position: relative;
    /*border-radius: 50px;*/
    /*border: 2px solid;*/
}
.img-wrap a {
    position: absolute;
    height: 50%;
    font-weight: bold;
    color: gray;
    font-size: 35px;
    margin-bottom: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.download-info a{
    color: white;
    font-size: 20px;
}
.download-info a:hover{
    color: black;
}

.border-img{
    padding: 15px;
    border-radius: 30px;
    height: 80%;
}

.series-img {
    box-shadow: 0 5px 5px rgba(130, 130, 130, 0.1);
    margin-bottom: 20px;
}
.series-img .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 100%;
}
.product-bottom{
    position: absolute;
    bottom: 0;
    margin-left: 7%;
}
.margbutton{
    margin-left: 10px;
    margin-right: 10px;
}
.contacts-card {
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(46,38,24,0.1);
    height: 190px;
}

/*breadcrumb*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #154cd4;
    text-decoration: underline;
}

/*orderPage*/

textarea[name="message"] {
    resize: none
}
#name{
    height: 45px;
}

#e-mail {
    height: 45px
}

#message {
    height: 120px
}

input.input-box,
textarea.input-box {
    background-color: white;
    border: #616161;
    color: #555555;
}

input.input-box:focus,
textarea.input-box:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000
}

form .form-control::-webkit-input-placeholder {
    color: #9E9E9E
}

input.btn-purple {
    background-color: #5C6BC0;
    color: #ffffff
}

/*Shopping Cart*/

.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}

.btn-main {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff;
    width: 100%
}

.btn-light {
    color: #ffffff;
    background-color: #F44336;
    border-color: #f8f9fa;
    font-size: 12px
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.btn-apply {
    font-size: 11px
}

.quantity_inner * {
    box-sizing: border-box;
}
.quantity_inner {
    display: inline-flex;
    border-radius: 26px;
    border: 2px solid gray;
}
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
    height: 40px;
    width: 30px;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}
.quantity_inner .quantity {
    width: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
    stroke: #337AB7;
    stroke-width: 4;
    transition: 0.5s;
    margin: 10px;
}
.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
    stroke: #000;
}

/* ordering page*/
.order-block{
    height: 370px;
    width: 85%;
    background-color: rgba(157, 183, 198, 0.1);
    box-shadow: 0px 5px 7px rgba(22, 22, 22, 0.28);
    border-radius: 17px;
    margin-left: 0px;
    padding-left: 15px;
    padding-top: 5px;
}

.ordering_img{
    width: 105px;
    height: 80px;
    margin-left: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 1px 1px 3px 1px;
    border-radius: 15px;
}

.personal-details{
    height: 575px;
    width: 85%;
    background-color: rgba(157, 183, 198, 0.1);
    box-shadow: 0px 5px 7px rgba(22, 22, 22, 0.28);
    border-radius: 17px;
    padding-left: 15px;
    padding-top: 5px;
}

#ordered_link{
    color: #002AF8E4;
    font-size: 17px;
}
#ordered_link:hover{
    color: #D81316;
    font-weight: 600;
}

.small-info{
    font-size: 12px;
    width: calc(100% - 120px);
    text-align: left;
}

.banner-alert{
    background-color: #96adfc;
    box-shadow: 2px 7px 7px rgba(96, 98, 101, 0.25);
    border-radius: 20px;
    color: #fff8f8;
    /*border: 1px solid black;*/
}

/*Error Page404*/
.error-page{
    width: 90vw;
    /*position: relative;*/
}
.error-page h1{
    font-size: 150px;
    /*letter-spacing: 2px;*/
    color: rgba(201, 198, 255, 0.61);
    font-family: 'lato';
    top: 50px;
    left: 55px;
    z-index: 5;
}
.error-page h3{
    font-size: 70px;
    font-family: 'lato';
    left: -120px;
    top: 25px;
    z-index: 2;
}
.object-text{
    text-align: center;
    top:64px;
}
.back-home{
    left: -240px;
    top: 50px;
    font-family: 'lato';
}

/* NAV */
/* change bootstrap 4 nav classes */

.navbar-custom {
    background-color: rgba(15, 68, 199, 0.69);
    /*TODO не работает в навбаре */
    /*box-shadow: 3px 2px 2px rgba(210, 214, 254, 0.25);*/
}

/* change the link color and padding (increase size)  */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
    /*color: ghostwhite;*/
    /*padding: .75rem 1rem;*/
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    /*color: whitesmoke;*/
    color: rgba(255,255,255,.8);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    /*color: #06132e;*/
    color: #06132e;
    /*background-color: #96adfc;*/
}


/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    /*background-color: #96adfc;*/
    background-color: ghostwhite;
}
.navbar-custom .dropdown-item {
    color: #06132e;

}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: ghostwhite;
    background-color: rgba(15, 68, 199, 0.69);
}
